@model IEnumerable<Devoiture.ViewModel.DanhsachKH_VM>

@{
    ViewData["Title"] = "Danh sách khách hàng";
}
<div class="container mt-5">
    <h6 class="mb-4">Danh sách khách hàng</h6>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Avatar</th>
                    <th scope="col">Username</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Locked account</th>
                    <th scope="col">Number of vehicles</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div style="position: relative; width: 40px; height: 40px;">
                                <img class="rounded-circle" src="~/images/AnhDaiDien/@(string.IsNullOrEmpty(item.HinhDaiDien) ? "userdefault.png" : item.HinhDaiDien)" alt="Hình đại diện" style="width: 100%; height: 100%;">
                                @if (item.Online.HasValue)
                                {
                                    <div class="position-absolute" style="bottom: 0; right: 0;">
                                        @if (item.Online.Value)
                                        {
                                            <div class="bg-success rounded-circle border border-2 border-white p-1"></div>
                                        }
                                        else
                                        {
                                            <div class="bg-danger rounded-circle border border-2 border-white p-1"></div>
                                        }
                                    </div>
                                }
                            </div>
                        </td>
                        <td>@item.Username</td>
                        <td>@item.HoTen</td>
                        <td>@item.Sdt</td>
                        <td>@item.Ngsinh.ToString("dd/MM/yyyy")</td>
                        <td>
                            @(item.Gioitinh.HasValue ? (item.Gioitinh.Value ? "Nam" : "Nữ") : "Không xác định")
                        </td>
                        <td>
                            <form asp-action="LockAccount" asp-controller="QLKhachhang" method="post">
                                <input type="hidden" name="email" value="@item.Email" />
                                <input type="hidden" name="isLocked" value="@(item.Lock.HasValue && item.Lock.Value ? "false" : "true")" />
                                <button type="submit" class="btn btn-link">
                                    @if (item.Lock.HasValue && item.Lock.Value)
                                    {
                                        <span class="badge bg-danger">Bị khóa</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-success">Hoạt động</span>
                                    }
                                </button>
                            </form>
                        </td>

                        <td>@item.Soxe</td>
                        <td>
                            <a asp-action="ChiTietKhachHang" asp-controller="QLKhachhang" asp-route-email="@item.Email" class="btn btn-info btn-sm">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
