@model Devoiture.ViewModel.ProfileAD_VM

@{
    ViewData["Title"] = "Edit Profile";
}

<div class="container mt-5">
    <h4>Edit Profile</h4>
    <form asp-action="EditprofileAD" asp-controller="Profile" asp-area="Admin" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" readonly>
        </div>
        <div class="form-group">
            <label for="Username">Username:</label>
            <input type="text" class="form-control" id="Username" name="Username" value="@Model.Username">
        </div>       
        <div class="form-group">
            <label for="HoTen">Full Name:</label>
            <input type="text" class="form-control" id="HoTen" name="HoTen" value="@Model.HoTen">
        </div>
        <div class="form-group">
            <label for="Sdt">Phone:</label>
            <input type="text" class="form-control" id="Sdt" name="Sdt" value="@Model.Sdt">
        </div>
        <div class="form-group">
            <label for="Ngsinh">Birthday:</label>
            <input type="date" class="form-control" id="Ngsinh" name="Ngsinh" value="@Model.Ngsinh.ToString("yyyy-MM-dd")">
        </div>
        <div class="form-group">
            <label>Gender:</label><br>
            <input type="radio" id="GioitinhNam" name="Gioitinh" value="true" @(Model.Gioitinh == true ? "checked" : "")>
            <label for="GioitinhNam">Male</label>
            <input type="radio" id="GioitinhNu" name="Gioitinh" value="false" @(Model.Gioitinh == false ? "checked" : "")>
            <label for="GioitinhNu">Female</label>
        </div>
        <div class="form-group">
            <label for="HinhDaiDien">Avatar:</label>
            <div>
                <input type="file" class="form-control-file" id="HinhDaiDien" name="Hinh1" onchange="previewImage(this)">
                @if (!string.IsNullOrEmpty(Model.HinhDaiDien))
                {
                    <img id="previewHinhDaiDien" src="~/images/AnhDaiDien/@Model.HinhDaiDien" alt="Avatar" style="max-width: 200px; max-height: 200px;" />
                }
                else
                {
                    <img id="previewHinhDaiDien" src="~/images/AnhDaiDien/userdefault.png" alt="Avatar" style="max-width: 200px; max-height: 200px;" />
                }
            </div>
        </div>
        <div class="form-group">
            <label for="HinhCccd">CCCD Image:</label>
            <div>
                <input type="file" class="form-control-file" id="HinhCccd" name="Hinh2" onchange="previewImageCccd(this)">
                @if (!string.IsNullOrEmpty(Model.HinhCccd))
                {
                    <img id="previewHinhCccd" src="~/images/AnhCCCD/@Model.HinhCccd" alt="CCCD" style="max-width: 200px; max-height: 200px;" />
                }
                else
                {
                    <img id="previewHinhCccd" src="~/images/AnhCCCD/cccdDefault.png" alt="CCCD" style="max-width: 200px; max-height: 200px;" />
                }
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        @Html.AntiForgeryToken()
    </form>
</div>
<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#previewHinhDaiDien').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    function previewImageCccd(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#previewHinhCccd').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>