@model IEnumerable<Devoiture.ViewModel.DanhsachxeKH_VM>

@{
    ViewData["Title"] = "Approve Cars";
}

<div class="container mt-5">
    <h4 class="mb-4">List of Cars to Approve</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">License Plate</th>
                    <th scope="col">Car Name</th>
                    <th scope="col">Year of Manufacture</th>
                    <th scope="col">Rental Price</th>
                    <th scope="col">Fuel Consumption</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Biensoxe</td>
                        <td>@item.TenXe</td>
                        <td>@item.NamSx</td>
                        <td>@item.Giathue</td>
                        <td>@item.Muctieuthunhienlieu</td>
                        <td>
                            <img src="~/images/Xe/@item.Hinhanh" alt="Car Image" class="img-thumbnail" style="max-height: 150px; max-width: 150px;">
                        </td>
                        <td class="d-flex flex-column">
                            <form method="post" asp-action="Duyet" asp-controller="DuyetXe" asp-area="Admin">
                                <input type="hidden" name="xeId" value="@item.Biensoxe" />
                                <button type="submit" class="btn btn-success btn-sm mb-2" style="height: 38px; width: 100px;">Approve</button>
                            </form>
                            <a asp-action="ChiTietXe" asp-controller="DuyetXe" asp-area="Admin" asp-route-bienSoXe="@item.Biensoxe" class="btn btn-info btn-sm" style="height: 38px; width: 100px;">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
